@{
    ViewData["Title"] = "Ryan Studio";
}
<div class="text-center">
    <h1 class="display-4">Ryan Studio</h1>
    <h4>This site is about music. This is about my favorite music. I will show you my favorite artists, albums, and songs. Get excited.</h4>
</div>
<br />
<h3>Why Music?</h3>
<p>
    Music is a huge part of my life. The second I get in the car I am listening to music.
    As I am walking to class, doing homework, working out, I am listening to music. For a
    long time I listened to pop music. I would listen to whatever was on the radio
    and that was my music taste. The top hits at the time what was on my playlist.
    Eventually, I decided to develop my own music taste. I wanted find out what I truly
    liked. I put in time and explored youtube and spotify to find what I liked to listen to.
</p>
<h3>My Music Taste</h3>
<p>
    As you can tell I listen to a lot of female artists. I also prefer listening to people
    who write their own music. All of the artists featured above write and perform their own
    songs. This is rare in today's music industry. I like to listen to slower paced music that has
    and emphasis on storytelling. If the song tells a good story, I am more likely to listen to it
    than a song that emphasis beat or rythm.
</p>

<br />
<!--Hover over image to see the artisits name-->
<p >Here are some of my favorite artists.</p>
<div class="text-center">
    <div class="image-container">
        <img src="~/img/mitski-portrait.jpeg" height="200" />
        <div class="text-overlay">
            <h5>Mitski</h5>
            <p>Your favorite artist with a unique voice and captivating lyrics. She slays and I love her so very much.</p>
        </div>
    </div>
    <div class="image-container">
        <img src="~/img/samia-portrait.jpeg" height="200" />
        <div class="text-overlay">
            <h5>Samia</h5>
            <p>Known for her emotional storytelling through music. Saw her in concert and she is an amazing performer live</p>
        </div>
    </div>
    <div class="image-container">
        <img src="~/img/japanese-house-portrait.jpeg" height="200" />
        <div class="text-overlay">
            <h5>The Japanese House</h5>
            <p>Her music is the best for a summer drive with the windows down or in bed when you are getting over a break. </p>
        </div>
    </div>
</div>

<br />
<!--Hover over image to see the Album name-->
<p >Here are some of my favorite albums.</p>
<div class="text-center">
    <div class="image-container">
        <img src="~/img/mitski-album.jpeg" height="200" />
        <div class="text-overlay">
            <h6>The Land Is Inhospitable and So Are We</h6>
            <p>2023</p>
        </div>
    </div>
    <div class="image-container">
        <img src="~/img/faye-webster.jpeg" height="200"/>
        <div class="text-overlay">
            <h6>Atlanta Millionares Club</h6>
            <p>2017</p>
        </div>
    </div>
    <div class="image-container">
        <img src="~/img/intheenditalwaysdoes.jpeg" height="200" />
        <div class="text-overlay">
            <h6>In The End It Always Does</h6>
            <p>2023</p>
        </div>
    </div>
    <div class="image-container">
        <img src="~/img/honey.jpeg" height="200"/>
        <div class="text-overlay">
            <h6>Honey</h6>
            <p>2023</p>
        </div>
    </div>
    <div class="image-container">
        <img src="~/img/wetleg.jpeg" height="200" />
        <div class="text-overlay">
            <h6>Wet Leg</h6>
            <p>2022</p>
        </div>
    </div>
</div>
<br />
<!--Favorite Song Snips Here -->
<p>Here are some of my favorite songs right now.</p>
<br />
<div style="display:flex; justify-content:space-between;">
    <div style="text-align:center;">
        <!-- Added text-align:center to center the titles -->
        <p style="margin:0;">My Love Is Mine All Mine - Mitski</p> <!-- Changed h3 to p and added inline style for centering -->
        <iframe width="320" height="180" src="https://www.youtube.com/embed/CwGbMYLjIpQ?si=UifoNCkqzTQeIHwD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div style="text-align:center;">
        <!-- Same changes for each video block -->
        <p style="margin:0;">i saw you in a dream - The Japanese House</p>
        <iframe width="320" height="180" src="https://www.youtube.com/embed/kDNe4KYl1W8?si=n2magEVouMwlG2q_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div style="text-align:center;">
        <p style="margin:0;">Washing Machine Heart - Mitski</p>
        <iframe width="320" height="180" src="https://www.youtube.com/embed/3vjkh-acmTE?si=DnQB81AoSzhPUb9m" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>
<br />
<div style="display:flex; justify-content:space-between;">
    <div style="text-align:center;">
        <!-- Added text-align:center to center the titles -->
        <p style="margin:0;">Kiss of Venus - Paul McCartney</p> <!-- Changed h3 to p and added inline style for centering -->
        <iframe width="320" height="180" src="https://www.youtube.com/embed/L2IJzVAOvaU?si=nhPjm_tE8Fujyrpu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div style="text-align:center;">
        <!-- Same changes for each video block -->
        <p style="margin:0;">Ribs - Lorde</p>
        <iframe width="320" height="180" src="https://www.youtube.com/embed/b7pE8AG1jjE?si=jQOkDEqTQsb6Mxee" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>>
    </div>
    <div style="text-align:center;">
        <p style="margin:0;">August - Taylor Swift</p>
        <iframe width="320" height="180" src="https://www.youtube.com/embed/nn_0zPAfyo8?si=sIJubrnkWDRN4Zxu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>
<br />





